body{color:#000;background-color:#fefefe}
hr{border-color:#dadada;}
blockquote{border-color:#dadada;}
a,a:visited,a:active{color:#000;}
code, samp{border-color:#adadad;background:#dadada;}
input,button,textarea,select{color:#000;border-color:#adadad;}
th, td{border-bottom-color:#e1e1e1;}
a.tag{color:#000;background-color:#dadada;border:none;padding:0.5rem;text-decoration:none;border-radius:2rem;}